<div class="outer_container">
    <div class="container">
        <div class="row login_card">
            <div class="col s4 offset-s4">
                <div class="card medium">
                    <div class="card-content">
                        <span class="card-title center">Login</span>
                        <% flash.each do |type, message| %>
                            <div class="center">
                            <span class="alert_message"><%= message %></span>
                            </div>
                        <% end %>
                        <%= form_with url: authentication_path do |f| %>
                            <%= f.label "email" %>
                            <%= f.text_field :email %>

                            <%= f.label "Password" %>
                            <%= f.password_field :password %>

                            <div class="center">
                                <button class="waves-effect waves-light btn blue center" type="submit">Login</button>
                            </div>
                        <% end %>
                        <div class="center login_signup_link">
                            <%= link_to "Don't have an account? Sign Up", signup_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>