<div class="outer_container">
    <div class="container">
        <div class="row login_card">
            <div class="col s4 offset-s4">
                <div class="card">
                    <div class="card-content sign_up_scroll">
                        <span class="card-title center">Sign Up</span>
                        <%= form_with model: @user, url: signup_path do |f| %>
                            <% if flash[:errors].present? %>
                                <% flash[:errors].each do |e| %>
                                    <div class="center">
                                        <span class="alert_message"><%= e %></span>
                                    </div>
                                <% end %>
                            <% end %>
                            <div class="row">
                                <div class="col s12 input-field">
                                    <%= f.label "Name" %>
                                    <%= f.text_field :name%>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 input-field">
                                    <%= f.label "Email" %>
                                    <%= f.text_field :email %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 input-field">
                                    <%= f.label "Password" %>
                                    <%= f.password_field :password %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 input-field">
                                    <%= f.label "Confirm Password" %>
                                    <%= f.password_field :password_confirmation %>
                                </div>
                            </div>

                            <div class="center">
                                <button class="waves-effect waves-light btn blue center" type="submit">Sign Up</button>
                            </div>
                        <% end %>
                        <div class="center login_signup_link">
                            <%= link_to "Already have an account? Login", login_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>