<div class="outer_container">
    <%= render "layouts/navbar" %>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="white-text center">Goals</h1>
                <div class="card medium">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s2 center">
                                <button class="btn <%= @filter == "All" ? "green" : "blue"%>">All</button>
                            </div>
                            <div class="col s2 center">
                                <button class="btn <%= @filter == "Ongoing" ? "green" : "blue"%>">Ongoing</button>
                            </div>
                            <div class="col s2 center">
                                <button class="btn <%= @filter == "Due" ? "green" : "blue"%>">Due</button>
                            </div>
                            <div class="col s2 center">
                                <button class="btn <%= @filter == "Short Term" ? "green" : "blue"%>">Short Term</button>
                            </div>
                            <div class="col s2 center">
                                <button class="btn <%= @filter == "Long Term" ? "green" : "blue"%>" onpress=<%= puts @filter %>>Long Term</button>
                            </div>
                        </div>
                        <table class="centered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Due Date</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <% if @goals.any? %>
                            <tbody>
                                <% @goals.each do |g| %>
                                    <tr>
                                        <td><%= g.name %></td>
                                        <td><%= g.description %></td>
                                        <td><%= g.due_date.present? ? g.due_date : "N/A" %></td>
                                        <td><%= link_to "View", view_goal_path(g) %>
                                        <td><%= link_to "Delete", destroy_goal_path(g), class: 'btn red', method: :post %></td> 
                                    </tr>
                                <% end %>
                            </tbody>
                            <% else %>
                            <tbody>
                                <tr>
                                    <td colspan="4">No Goals to Display!</td>
                                </tr>
                            </tbody>
                            <% end %>
                        </table>
                    </div>
                </div>
                <%= link_to "New Goal", new_goal_path, class: "btn blue right" %>
            </div>
        </div>
    </div>
</div>
